/* Layout for the main app container */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 0 156px;
  box-sizing: border-box;
}